$color1: #FFFFF4;
$color2: #316FA5;
$color3: #FFFFFF;
$color4: #E8E8E8;
$color5: #9E9EA2;
$color6: #00000029;
$color7: #C7C7C7;
$color8: #D3CCCC;
$color9: #04EFF7;
$color10: #05F0F8;
$color11: #6AB0EF;

body {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  background: $color1 0% 0% no-repeat padding-box;
  opacity: 1;
}

header {
  width: 100%;
}

#wave1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  opacity: 1;
}

#wave2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  opacity: 1;
}

#bubble {
  position: absolute;
  top: 2%;
  left: 0.5%;
  margin: auto;
  width: 100%;
  height: auto;
  mix-blend-mode: overlay;
  opacity: 1;
  z-index: 1;
}

#splite {
  position: absolute;
  right: 10%;
  max-width: 300px;
  width: 50%;
  height: auto;
  opacity: 1;
  z-index: 2;
}

#scroll-group {
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#scroll-img {
  opacity: 1;
  margin: auto;
}

#scroll {
  font: normal normal normal 30px/40px AB-suzume;
  letter-spacing: 25px;
  color: $color7;
  margin-left: 6%;
  margin-right: 6%;
}
